:root {
    --soft-blue: #006fc1;
    --medium-blue: #0003b6;
    --dark-blue: #04001b;
}

body {
    background-image: linear-gradient(to top right,#000133, #000c4e, #001c72, #006fc1, #00c4ff);
}

img {
    width:100%;
    border-radius:50%;
    padding: 20px 80px;
    margin-bottom:50px;
}

.customp {
    margin-block-start: 0;
    margin-block-end: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #006fc1;
    text-decoration: underline;
}

ul { 
    list-style-type: none;
}

.username {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 15vh;
    margin: auto;
    padding: 0;
}

.w3-custom-backgound {
    background-color: #e1effc;
    border-radius: 10px;
}

.w3-medium-blue, .w3-hover-medium-blue:hover {
    color: #fff!important;
    background-color: var(--medium-blue)!important;
}

.w3-dark-blue, .w3-hover-medium-blue:hover {
    color: #fff!important;
    background-color: var(--dark-blue)!important;
}

.w3-text-medium-blue, .w3-hover-text-medium-blue:hover {
    color: var(--medium-blue)!important;
}

.w3-card, .w3-card-2, .w3-card-4, .w3-hover-shadow:hover {
    /* box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: none;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
    font-size: 14px;
    width: 100%;
    border-color: var(--soft-blue);
    border-style:solid;
    border-width:1px;
    padding:10px;
    word-break: break-all;
}

.tg th, .tg td {
    text-align: center;
    border-color: var(--soft-blue);
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-left {
    text-align:center;
}

.tg .tg-right {
    text-align:right;
}
